*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url("space.gif");
    background-size: cover;
    background-position: center;
     
}

.logo{
    width: 120px;
    cursor: pointer;
    transform: rotate(270deg);
}
.content{
    width: 70%;
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    -ms-transform: translate(25%, -50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.content:hover{
    top:40%;
    transition: 0.5s;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #920b4b;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background-color: #920b4b;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0; 
    z-index: -1;
    transition:0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
    background-color: #920b4b;
    transition: 0.5s;

}
a{
    text-decoration: none;
    color: #fff;
}
.container {
    display: inline-block;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 3%;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -110px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 150px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    margin-top: 20%;
    text-align: end;
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 20px;
    background-color: #920b4b;
    color: #fff;
  }
  #about_active {
    top: 20px;
    background-color: #fff;
    color: #000;
  }
  #blog {
    top: 80px;
    background-color: #920b4b; /* Blue */
    color: #fff;
  }
  #blog_active {
    top: 20px;
    background-color: #fff;
    color: #000;
  }
  
  #projects {
    top: 140px;
    background-color: #920b4b; /* Red */
    color: #fff;
  }
  #projects_active {
    top: 20px;
    background-color: #fff;
    color: #000;
  }
  
  #contact {
    top: 200px;
    background-color: #920b4b;
    color: #fff;
  }
  #contact_active {
    top: 20px;
    background-color: #fff;
    color: #000;
  }

  /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  /* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #920b4b;
    overflow: hidden;
    position: absolute;
    max-width: 50%;
    bottom: 0;
    margin-left: 45%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #fff;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  